<%- include('partials/header') %>
    <div text-center my-4>
        <h1>Product Inventory Management</h1>
    </div>
    <!-- <ul class="list-group">
        <li class="list-group-item"><a href="/add">Agregar Producto</a></li>
        <li class="list-group-item"><a href="/search">Buscar Producto</a></li>
        <li class="list-group-item"><a href="/modifySearch">Modificar Producto</a></li>
        <li class="list-group-item"><a href="/delete">Eliminar Producto</a></li>
        <li class="list-group-item"><a href="/showAll">Mostrar Todos los Productos</a></li>
    </ul> -->
    <%- include('partials/footer') %>